<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <link rel="stylesheet" href="assets/fonts/fonts.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>ASIDE</title>
</head>
<body>
    <nav class="aside-nav">
        <h1>ASIDE</h1>
        <div class="aside-nav__actions">
            <button class="aside-nav__btn" id="aside-action-open">
                Open
            </button>
            <button class="aside-nav__btn" id="aside-action-save">
                Save
            </button>
        </div>
    </nav>
    <main>
        <textarea name="textarea" class="aside-body__text-container" id="aside-textarea" cols="30" rows="20"></textarea>
    </main>
</body>
</html>