<div class="electron-angular-welcome">
  @if (currentVersion == 0) {
  <div class="electron-angular-welcome__msg">Checking for Node version...</div>
  } @else if (currentVersion < version) {
  <div class="electron-angular-welcome__msg">
    Your current node version is: {{ versionString }} <br />
    Required Node version is: {{ version }} <br />
    Please upgrade your Node version.
  </div>
  <button class="electron-angular-welcome__btn" (click)="checkVersion()">
    Check Again
  </button>
  }
</div>
<router-outlet></router-outlet>
